<div ng-show="userCard">
    <div class="panel panel-primary">
        <div class="panel-heading">User information</div>

        <div class="panel-body">

            <div class="col-xs-12 col-sm-6">
                <address>
                    <strong>{{userCard.name}}</strong><br/>
                    <a href="mailto:">{{userCard.email}}</a>
                </address>
            </div>

            <div class="col-xs-12 col-sm-6">
                <address>
                    {{userCard.address.city}}<br>
                    {{userCard.address.street}}, {{userCard.address.zipcode}}<br>
                    <abbr title="Phone">Phone: {{userCard.phone}}</abbr>
                </address>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">User posts</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="post in posts | id: userCard.id">
                    <h4><small><strong>{{post.title}}</strong></small></h4>
                    {{post.body}}
                </li>
            </ul>
    </div>
</div>